doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title Fruits

body
    h1 Fruit search
    textarea(id='searchField', cols="30", rows="1", placeholder="Enter search query")
    input(id='pageRankCheckbox' type='checkbox')
    label(for="pageRankCheckbox") Boost by PageRank?
    textarea(id='numResultsField', cols="3", rows="1", placeholder="10")
    button(id='searchButton') Search
    br
    if !results || results.length === 0
        p No results found for query
    else
        p Original result count: #{resultCount}
        each result in results 
            br
            p ---
            a(href="/fruits/"+result._id) Title: #{result.title} 
            p PageRank: #{result.pageRank} || Score: #{result.score} || ID: #{result._id} 
            a(href=result.link) #{result.link}
            br
script(src="/javascripts/fruits.js") 